OPENROUTER_API_KEY=your_openrouter_api_key_here
OPENROUTER_MODEL=google/gemma-2-9b-it:free

CHROMA_PERSIST_DIR=./chroma_db
DATA_DIR=./data/raw
PROCESSED_DATA_DIR=./data/processed
MODEL_DIR=./models
VNCORENLP_DIR=~/.vncorenlp
STOPWORDS_PATH=./data/stopwords/vietnamese-stopwords.txt

SBERT_MODEL_NAME=bkai-foundation-models/vietnamese-bi-encoder
CROSS_ENCODER_MODEL_NAME=itdainb/PhoRanker

BM25_K1=1.2
BM25_B=0.65
HYBRID_ALPHA=0.35

TOP_K_RETRIEVAL=15
TOP_K_CLASSIFY=15
